.home-carousel {
    position: relative;
    background: url('../img/background.jpg') center center repeat;
    background-size: cover;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0.6rem;
  }